/* TODO: Put your CSS code in here */

body {
  background-color: #f6f6f6;
}

.form-container {
  margin: 30px 50px;
}

#map {
  background-color: #E6E6E6;
  height: 70vh;
  width: 70%;
  margin: auto;
}